$headerHeight: 4rem;
$headerHeightMobile: 2.5rem;
$mainContentWidth: 1200px;
$mainContentPadding: 1rem;
$centeredContentWidth: 45rem;
$centeredContentPadding: 1rem;
$tapBarHeight: 3rem;

//colors
$colorPrimary: #542c85;
$colorAccent: #8a4baf;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGreyLighter: #fefefe;
$colorGreyLight: #eeeeee;
$colorGreyMedium: #cccccc;
$colorGreyDark: #999999;
$colorGreyDarker: #333333;
$colorTextColor: $colorGreyDarker;
$colorInlineCodeBackground: #fbf2e9;

//typography
$fontSizeExtraSmall: 0.75rem;
$fontSizeSmall: 0.875rem;
$fontSizeRegular: 1rem;
$fontSizeLarge: 1.25rem;
$fontSizeTitle: 1.5rem;
$fontSizeTitleBig: 2rem;
