@import '../../styles/abstracts/variables';
@import '../../styles/layout/grid';

.heroImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 $mainContentPadding;
  color: $colorWhite;
}

.heroImageWrapper {
  @include media-breakpoint-down(lg) {
    margin: 0 (-$mainContentPadding);
  }
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 54vh;
  &:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba($color: $colorBlack, $alpha: 0.25);
  }
}

.title {
  z-index: 1;
  font-size: 3rem;
}
